# API Configuration
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9... (your token)
API_KEY=jokerjinnah321@?
API_TOKEN=jokerjinnah321@?
REVALIDATE_SECRET=revalidatedbyjinnah

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dshmvyjgf
CLOUDINARY_API_KEY=832587935596469
CLOUDINARY_API_SECRET=5DPNHukMTr1agmI0nowrDTJuHRQ

# Vercel Configuration
NEXT_PUBLIC_API_BASE_URL=https://cinebucket-api.vercel.app
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token
